.nav-item {
	text-decoration: none;
	color: #4C4C4C;
	font-family: arial;
	font-size: 12px;
	margin-right: 15px;
}

.nav {
	float: right;
}

#logo {
	height: 95px;
	width: 269px;
	position: fixed;
	left: 50%;
	margin-top: 125px;
	margin-left: -137px;
}

#search {
	height: 33px;
	width: 50%;
	color: #CCCCCC;
	font-size: 1.05em;
	position: fixed;
	margin-top: 240px;
	left: 25%;
}

span.nav-item {
	color: #b2b2b2;
}